<div id="mainPageContent">
    <div class="container">
        <div class="col-lg-3 col-lg-offset-1 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-0 textBg">
            <a routerLink="/order">ZAMÓW PACZKĘ JUŻ TERAZ</a>
        </div>
    </div>

    <div class="col-xs-12 box">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12 one">



                    <a href="#" type="submit" class="btn btn-primary">Zaloguj</a>

                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 two">




                    <a routerLink="/status" type="submit" class="btn btn-secondary">Lokalizacja paczki</a>


                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 three">
                    <a routerLink="/priceList">Cennik</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 four">
                    <a href="#">COŚ JESZCZE</a>
                </div>
            </div>
        </div>
    </div>

</div>